In [1]:
import pandas as pd

In [2]:
import mysql.connector as db

In [3]:
from faker import Faker

In [4]:
import random

In [5]:
fake = Faker()

In [6]:
from datetime import datetime,timedelta

In [7]:
conn = db.connect(
    host="localhost",
    user="root",
    password="@Inshaallah8",
    database="zomato"
)

In [8]:
cursor = conn.cursor()

In [9]:
table = """
CREATE TABLE customers
(
customer_id int primary key AUTO_INCREMENT,
name varchar(100),
email text,
phone varchar(50),
location text,
signup_date date,
is_premium boolean,
preferred_cuisine text,
total_orders int,
average_rating float

);

"""
cursor.execute(table)

In [10]:
def generate_customers(num_records):
    cuisines = ['Italian', 'Chinese', 'Indian', 'Mexican', 'Japanese', 'Thai', 'American']
    locations = ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix', 'Philadelphia']
    
    for _ in range(num_records):
        # Generate customer data
        name = fake.name()
        email = fake.email()
        phone = fake.phone_number()
        location = random.choice(locations)
        signup_date = fake.date_between(start_date='-2y', end_date='today')
        is_premium = random.choice([0, 1])
        preferred_cuisine = random.choice(cuisines)
        total_orders = random.randint(1, 500)
        average_rating = round(random.uniform(1.0, 5.0), 1)

        # Execute INSERT statement
        cursor.execute('''
            INSERT INTO customers 
            (name, email, phone, location, signup_date, is_premium, preferred_cuisine, total_orders, average_rating)
            VALUES 
            (%s, %s, %s, %s, %s, %s, %s, %s, %s)
        ''', (name, email, phone, location, signup_date, is_premium, preferred_cuisine, total_orders, average_rating))

try:
    # Generate 100 sample records
    generate_customers(100)
    
    # Commit the changes
    conn.commit()
    print("Successfully generated 100 customer records!")

except Exception as e:
    print(f"An error occurred: {e}")
    conn.rollback()

Successfully generated 100 customer records!

In [11]:
# Create restaurant table
cursor.execute('''
CREATE TABLE Restaurants (
    restaurant_id INT PRIMARY KEY AUTO_INCREMENT,
    name VARCHAR(255),
    cuisine_type VARCHAR(50),
    location VARCHAR(255),
    owner_name VARCHAR(255),
    average_delivery_time INT,
    contact_number VARCHAR(40),
    rating float,
    total_orders int,
    is_active boolean

    
)
''')

In [12]:
# Generate synthetic Restaurants data
def generate_Restaurants(num_records):
    cuisines = ['Italian', 'Chinese', 'Indian', 'Mexican', 'Japanese', 'Mediterranean']
    for _ in range(num_records):
        name = fake.name()
        cuisine_type = random.choice(cuisines)
        location = fake.address().replace("\n", ", ")
        owner_name = fake.name()
        average_delivery_time = random.randint(10, 60)
        contact_number = fake.phone_number()
        rating = round(random.uniform(1.0, 5.0), 1)
        total_orders = random.randint(1, 500)
        is_active = random.choice([True, False])

        cursor.execute('''
        INSERT INTO Restaurants (name, cuisine_type, location, owner_name, average_delivery_time, contact_number, rating, total_orders, is_active)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s) ''', (name, cuisine_type, location, owner_name, average_delivery_time, contact_number, rating, total_orders, is_active))
        

        

# Generate 100 sample records
generate_Restaurants(100)

# Commit the changes    

conn.commit()

print("Restaurants dataset created successfully!")

Restaurants dataset created successfully!

In [13]:
# creating orders table

cursor.execute ('''
CREATE TABLE ORDERS (
                order_id INT PRIMARY KEY AUTO_INCREMENT,
                customer_id int,
                restaurant_id int,
                order_date datetime,
                delivery_time datetime,
                status varchar(50),
                total_amount decimal(10,2),
                payment_mode varchar(50),
                discount_applied decimal(10,2),
                feedback_rating int,
                FOREIGN KEY (customer_id) REFERENCES customers(customer_id),
                FOREIGN KEY (restaurant_id) REFERENCES Restaurants(restaurant_id)
                );
''')

In [14]:
def generate_orders(num_records):
    statuses = ['Pending', 'Delivered', 'Cancelled']
    payment_modes = ['Credit Card', 'Cash', 'UPI']
    for _ in range(num_records):
        # Generate order data
        customer_id = random.randint(1,100)
        restaurant_id = random.randint(1,100)
        order_date = fake.date_between(start_date = "-2y",end_date = "today")
        delivery_time = order_date + timedelta(days = random.randint(1,7))
        status = random.choice(statuses)
        total_amount = round(random.uniform(10.0, 1000.0), 2)
        payment_mode = random.choice(payment_modes)
        discount_applied = round(random.uniform(0.0, total_amount), 2)
        feedback_rating = random.randint(1,5)

        # Execute INSERT statement
        cursor.execute('''
            INSERT INTO ORDERS 
            (customer_id, restaurant_id, order_date, delivery_time, status, total_amount, payment_mode, discount_applied, feedback_rating)
            VALUES 
            (%s, %s, %s, %s, %s, %s, %s, %s, %s)
        ''', (customer_id, restaurant_id, order_date, delivery_time, status, total_amount, payment_mode, discount_applied, feedback_rating))

try:
    # Generate 100 sample records
    generate_orders(100)    
    # Commit the changes
    conn.commit()
    print("Successfully generated 100 order records!")

except Exception as e:
    print(f"An error occurred: {e}")
    conn.rollback()

Successfully generated 100 order records!

In [15]:
# creating Deliveries Table

cursor.execute('''
CREATE TABLE Deliveries (
               delivery_id INT PRIMARY KEY AUTO_INCREMENT,
               order_id int,
               delivery_person_id int,
               delivery_status varchar(50),
               distance decimal(10,2),
               delivery_time datetime,
               estimated_time datetime,
               delivery_fee decimal(10,2),
               vechile_type varchar(50),
               FOREIGN KEY (order_id) REFERENCES ORDERS(order_id)
               #FOREIGN KEY (delivery_person_id) REFERENCES delivery_persons(delivery_person_id)
               )
''')

In [16]:
def generate_deliveries(num_records):
    delivery_statuses = ['On the way', 'Delivered']
    vehicle_types = ['Bike', 'Car']
    for _ in range(num_records):
        # Generate delivery data
        order_id = random.randint(1,100)
        delivery_person_id = random.randint(1,100)
        delivery_status = random.choice(delivery_statuses)
        distance = round(random.uniform(0.0, 100.0), 2)
        delivery_time = fake.date_between(start_date = "-2y",end_date = "today")
        estimated_time = delivery_time + timedelta(days = random.randint(1,7))
        delivery_fee = round(random.uniform(0.0, 100.0), 2)
        vehicle_type = random.choice(vehicle_types)

        # Execute INSERT statement
        cursor.execute('''
            INSERT INTO Deliveries 
            (order_id, delivery_person_id, delivery_status, distance, delivery_time, estimated_time, delivery_fee, vechile_type)
            VALUES 
            (%s, %s, %s, %s, %s, %s, %s, %s)
        ''', (order_id, delivery_person_id, delivery_status, distance, delivery_time, estimated_time, delivery_fee, vehicle_type))

try:
    # Generate 100 sample records
    generate_deliveries(100)    
    # Commit the changes    
    conn.commit()    
    print("Successfully generated 100 delivery records!")

except Exception as e:
    print(f"An error occurred: {e}")
    conn.rollback()

Successfully generated 100 delivery records!

In [17]:
# creating delivery_persons table

cursor.execute('''
CREATE TABLE delivery_persons (
               delivery_person_id INT PRIMARY KEY AUTO_INCREMENT,
               name varchar(50),
               contact_number varchar(40),
               vehicle_type varchar(50),
               total_deliveries int,
               average_rating float,
               location varchar(255)
               )
''')

In [18]:
def generate_delivery_persons(num_records):
    vehicle_types = ['Bike', 'Car']
    for _ in range(num_records):
        # Generate delivery person data
        name = fake.name()
        contact_number = fake.phone_number()
        vehicle_type = random.choice(vehicle_types)
        total_deliveries = random.randint(1, 100)
        average_rating = round(random.uniform(1.0, 5.0), 1)
        location = fake.address().replace("\n", ", ")

        # Execute INSERT statement
        cursor.execute('''
            INSERT INTO delivery_persons 
            (name, contact_number, vehicle_type, total_deliveries, average_rating, location)
            VALUES 
            (%s, %s, %s, %s, %s, %s)
        ''', (name, contact_number, vehicle_type, total_deliveries, average_rating, location))

try:
    # Generate 100 sample records
    generate_delivery_persons(100)    
    # Commit the changes    
    conn.commit()    
    print("Successfully generated 100 delivery person records!")

except Exception as e:
    print(f"An error occurred: {e}")
    conn.rollback() 

finally:    
    # Close the connection       
    cursor.close()    
    conn.close()

Successfully generated 100 delivery person records!